VITE_API_URL=http://localhost:5000/api/v1
VITE_FIREBASE_API_KEY="AIzaSyBAf3lFYYU5wKWssBg37q3DWQMCjQW6UG0"
VITE_FIREBASE_AUTH_DOMAIN="rovauto-d5f9c.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="rovauto-d5f9c"
VITE_FIREBASE_APP_ID="1:161618403778:web:08895447f6bfe5a1fb765b"